@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .bg-shadow {
    box-shadow: 0px 4px 16px 0px #0000002a;
  }

  html {
    scroll-behavior: smooth;
  }
.p-progressbar {
  background-color: #ffe9da;
}
  .p-progressbar-value.p-progressbar-value-animate {
  background-color: #ae4e09;
}